table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
  }
  
mat-icon{
  position: absolute;
  top:-30%;
  left:-20%;
  height:5px;
  width:5px;
}
  
.tick{
  position: relative;
  height:17px;
  width:17px;
  cursor:unset;
}