<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <div class="text">
            <h1>Category</h1>        
            <span class="total">8</span>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="text">
            <h1>Sellers</h1>        
            <span class="total">0</span>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="text">
            <h1>Items</h1>        
            <span class="total">25</span>
        </div>
    </mat-card>
    <mat-card fxFlex="25">
        <div class="text">
            <h1>Orders</h1>        
            <span class="total">2</span>
        </div>
    </mat-card>
</div>