<mat-nav-list>
    <div class="profile-card" *ngIf="_authService.sellerLoggedIn()">
        <div class="header" (click)="getInfo()">
            <h2>{{ _authService.SellerInfo()?.name }}</h2>
            <h4>{{ _authService.SellerInfo()?.email }}</h4>
        </div>
        <img src="http://localhost:3000/uploads/blank user.png" alt="Gaurav Malik">
    </div>

    <div class="profile-card" *ngIf="!_authService.sellerLoggedIn()">
        <div class="header">
            <h2>Guest</h2>
            <a class="nav-link" routerLink="/login" routerLinkActive="active" >Login</a>
        </div>
        <img src="http://localhost:3000/uploads/blank user.png" alt="Guest">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/seller">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/seller/orders">Orders</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/seller/items">Items</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/seller/new">New Item</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/seller/category">Category</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
