<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="something">
            <div class="text">
                <h1>Category</h1>        
                <span class="total">8</span>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="something">
            <div class="text">
                <h1>Category</h1>        
                <span class="total">8</span>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="something">
            <div class="text">
                <h1>Category</h1>        
                <span class="total">8</span>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="something">
            <div class="text">
                <h1>Category</h1>        
                <span class="total">8</span>
            </div>
        </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>